
{% extends "layout.html" %}

{% set bodyId = "page-ideas" %}

{% block title %}
    <title>Ideias - Casa Criativa</title>
{% endblock title %}

{% block content %}
<header>
    <a href="/">
        <img src="./public/images/WS_Logo.png" alt="Casa Criativa Logo image">
    </a>
    <nav>
        <li><a href="/">Início</a></li>
        <li><a class="button" href="#" onClick="onOff()">Nova Ideia</a></li>
    </nav>
</header>
<section id="title">
    <h1>Ideias</h1>

</section>
<main>
    <section id="ideas">
        {% include "list_ideias.html" %}
    </section>
</main>
<footer>
    Com 💜
    <a href="https://luis-capelletto-portfolio.netlify.app/" target="_blank">
        Luís Vinicius Capelletto
    </a>
</footer>
{% endblock %}
    