{% for ideia in ideias %}
    <div class="idea" id="{{ ideia.id }}">
        <img src="{{ ideia.image }}" alt="Icone {{ ideia.title }}">
        <a href="/delete?id={{ ideia.id }}" class="delete-btn">X</a>
        <div class="content">
            <h3>{{ ideia.title }}</h3>
            <p>{{ ideia.category }}</p>
            <div class="description">
                {{ ideia.description }}
            </div>
            <a href="{{ ideia.link }}" target="_blank" >Ir para Ideia</a>
        </div>
    </div>
{% endfor %}