/* GLOBAL */
:root{
    --primary-color: #ff5c82;
}


body {
    background-color: #cfcccf;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cfcccf'/%3E%3Cstop offset='1' stop-color='%23cfcccf'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23ff5e84' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ff5e84' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: #393d42;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    transition: 0.3s;
}

body.hideScroll {
    overflow: hidden;
}

a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.button {
    background: var(--primary-color);
    color: white;

    width: 150px;
    height: 40px;

    border-radius: 8px;

    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.3);
}

.button:hover {
    background-color: #0984e3;
    text-decoration: none;
}

#container {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    display: flex;
}

#intro {
    width: 300px;
    padding: 32px;
    margin-right: 64px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
}

main {

    margin-top: 32px 0;
    
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

button {
    background: none;
    color: var(--primary-color);
    border: none;

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;

    cursor: pointer;

    outline: none;
}

button:hover {
    text-decoration: underline;
}

footer {
    text-align: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding: 16px;

    color: #777;
}

footer a {
    opacity: 0.8;
}

footer a:hover {
    opacity: 1;
}

.idea {
    display: flex;

    background-color: #FFFF;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    border-radius: 8px;

    padding: 16px;
    margin: 16px 32px;
    position: relative;
}

.idea img {
    width: 60px;
    height: 60px;

    margin-right: 32px;
}

.idea h3 {
    margin: 0;
}

.idea .delete-btn {
    color: #393d42;
    padding: 8px;
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.idea .delete-btn:hover{
    background-color: var(--primary-color);
}

.idea p {
    margin: 8px 0;
    color: #777;
}

.idea .description {
    margin: 16px 0;
} 

/* Modal */

#modal {
    background: var(--primary-color);

    position: fixed; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;
}

#modal.addScroll {
    overflow: auto;
}

#modal.hide {
    opacity: 0.5;
    visibility: hidden;
}

#modal .content {
    margin-top: 5%;
    color: white;
}

#modal .content h1 {
    text-align: center;
    text-transform: uppercase;
}

#modal form {
    width: 80%;
    max-width: 800px;

    margin: 0px auto 15%;

    display: grid;

    /* Frações para fazer a grid (grade) */
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
    grid-column: span 2;            /** Expande as 2 colunas */
}

form input,
form textarea {
    width: 100%;

    padding: 12px;

    box-sizing: border-box;

    border-radius: 6px;
    border: 1px solid rgba(141,25,52, 0.5);
    
    outline: none;

    font-size: 16px;
}

form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a {

    width: 150px;
    height: 40px;

    background-color: #ffffff22;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;

    border-radius: 6px;

    align-self: end;

    transition: 400ms;
}

form a:hover {
    background: #fff;
    color: var(--primary-color);

    text-decoration: none;
}

form button {
    background: white;

    width: 150px;
    height: 40px;

    border-radius: 6px;

    cursor: pointer;

    margin-top: 32px;

    grid-column: 2;         /** Joga para a coluna 2 */
    justify-self: end;

    transition: 400ms;      /** Tempo de transição para o hover */
}

form button:hover {
    background-color: #0984e3;
    color: white;

    text-decoration: none;
}

/* IDEIA.HTML */

#page-ideas #container {
    margin-top: 20px;
    display: block;
}

#page-ideas header{
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
}

#page-ideas nav {
    display: flex;
    align-items: center;
}

#page-ideas nav li {
    list-style-type: none;

    margin-right: 16px;
}

#page-ideas nav li a {
    color: #25282B;
}

#page-ideas nav li a.button {
    color: white;
}

#page-ideas nav li:last-child {
    margin: 0;
}

section#title {
    text-align: center;
}

section#title p {
    opacity: 0.7;
}

section#title h1 {
    margin-bottom: 16px;
    font-size: 28px;
    color: #FFF;
    text-shadow: 3px 3px rgba(255, 94, 132, 0.3);
}

section#ideas {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

section#title,
footer,
section#ideas .idea {
    margin-top: 32px;
}


